*, *::after, *::before {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  font-family: 'Roboto';
}

.telegram-body {
  width: 100%;
}

.top-elements {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #233640;
  min-height: 20px;
}

.top-elements a {
  display: block;
}

.top-elements a i {
  color: #5F7A82;
  margin: 5px 10px;
}

.bottom-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-contect {
  border-right: 1px solid black;
  width: 370px;
}

.left-contect form {
  background-color: #1A2C33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 12px;
}

.left-contect form button {
  outline: none;
  border: none;
  background-color: #1A2C33;
  padding-right: 5px;
  cursor: pointer;
}

.left-contect form button :hover {
  color: blanchedalmond;
}

.left-contect form button i {
  font-size: 18px;
  font-weight: 450;
  color: #7F969D;
}

.left-contect form input {
  width: 315px;
  padding: 7px 5px;
  margin-left: 5px;
  border-radius: 5px;
  background-color: #293E49;
  outline: none;
  border: none;
  color: white;
}

.left-contect form input::-webkit-input-placeholder {
  padding: 5px 5px;
  color: #57879D;
}

.left-contect form input:-ms-input-placeholder {
  padding: 5px 5px;
  color: #57879D;
}

.left-contect form input::-ms-input-placeholder {
  padding: 5px 5px;
  color: #57879D;
}

.left-contect form input::placeholder {
  padding: 5px 5px;
  color: #57879D;
}

.left-contect .container-accounts {
  overflow-y: scroll;
  background-color: #1A2C33;
  width: 100%;
}

.left-contect .container-accounts .accounts-list {
  height: 582px;
  width: 100%;
}

.left-contect .container-accounts .accounts-list :hover {
  background-color: #243840;
}

.left-contect .container-accounts .accounts-list .account-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 10px;
}

.left-contect .container-accounts .accounts-list .account-item img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.left-contect .container-accounts .accounts-list .account-item p {
  color: #95B7C5;
  font-size: 12px;
  font-weight: 150;
  margin-left: auto;
}

.left-contect .container-accounts .accounts-list .account-item .account-info {
  padding-left: 10px;
}

.left-contect .container-accounts .accounts-list .account-item .account-info .account-name {
  color: honeydew;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}

.left-contect .container-accounts .accounts-list .account-item .account-info .avatar-time {
  color: honeydew;
  letter-spacing: 1px;
  padding-top: 10px;
  font-size: 12px;
  font-weight: 150;
  color: #95B7C5;
}

.right-contect {
  width: 100%;
}

.right-contect .account-contect {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1A2C33;
  border-bottom: 1px solid black;
}

.right-contect .account-contect .account-contect-info {
  min-height: 49px;
  padding-left: 15px;
}

.right-contect .account-contect .account-contect-info h1 {
  color: honeydew;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  cursor: pointer;
}

.right-contect .account-contect .account-contect-info p {
  color: #95B7C5;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 150;
}

.right-contect .account-contect .account-contect-icons button {
  outline: none;
  border: none;
  background-color: #1A2C33;
  margin: 0 10px;
}

.right-contect .account-contect .account-contect-icons button :hover {
  color: blanchedalmond;
}

.right-contect .account-contect .account-contect-icons button i {
  color: #5F7A82;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
}

.right-contect .chat-box .messages .you {
  color: white;
  width: 200px;
  text-align: center;
  background-color: #1A333D;
  margin-bottom: 5px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 15px;
}

.right-contect .chat-box .messages .me {
  color: white;
  max-width: 200px;
  text-align: center;
  background-color: #1A333D;
  padding: 10px;
  margin-left: auto;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.right-contect form {
  background-color: #1A2C33;
  min-height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-contect form button {
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 10px;
}

.right-contect form button :hover {
  color: blanchedalmond;
}

.right-contect form button i {
  font-size: 21px;
  font-weight: 230;
  color: #798F96;
  background-color: #1A2C33;
}

.right-contect form textarea {
  resize: none;
  outline: none;
  border: none;
  width: 70%;
  background-color: #1A2C33;
  font-size: 15px;
  padding-top: 15px;
  padding-left: 15px;
  color: white;
}

.right-contect form textarea::-webkit-input-placeholder {
  margin-top: 5px;
  font-size: 15px;
  color: #81959D;
  padding-left: 3px;
  font-weight: 100;
}

.right-contect form textarea:-ms-input-placeholder {
  margin-top: 5px;
  font-size: 15px;
  color: #81959D;
  padding-left: 3px;
  font-weight: 100;
}

.right-contect form textarea::-ms-input-placeholder {
  margin-top: 5px;
  font-size: 15px;
  color: #81959D;
  padding-left: 3px;
  font-weight: 100;
}

.right-contect form textarea::placeholder {
  margin-top: 5px;
  font-size: 15px;
  color: #81959D;
  padding-left: 3px;
  font-weight: 100;
}

.right-contect form div {
  margin-left: 120px;
}

.right-contect form div .smile {
  padding: 0 10px;
  cursor: pointer;
  display: inline;
  color: white;
  font-weight: 200;
  font-size: 20px;
  color: #81959D;
}

.right-contect form div .smile:hover {
  color: white;
}

.right-contect form div .send i:hover {
  color: #58BFE8;
}

.chat-box {
  min-height: 530px;
  background-color: #0F1F27;
}

.body-modal .modal {
  display: block;
}

.body-modal .modal-opacity {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal {
  display: none;
  position: absolute;
  background-color: #1A2C33;
  width: 400px;
  height: 600px;
  z-index: 55;
  top: 30px;
  left: 38%;
}

.modal .top-modal {
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .top-modal h2 {
  color: white;
  font-weight: 200;
}

.modal .top-modal .top-modal-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal .top-modal .top-modal-icon li {
  margin: 0 10px;
  cursor: pointer;
}

.modal .top-modal .top-modal-icon li:hover i {
  color: white;
}

.modal .top-modal .top-modal-icon li i {
  color: #899CA2;
  font-size: 19px;
  font-weight: 400;
}

.modal .center-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .center-modal img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 20px;
}

.modal .center-modal div {
  margin-left: 20px;
}

.modal .center-modal div h2 {
  color: white;
  font-weight: 300;
}

.modal .center-modal div p {
  color: #899CA2;
  font-weight: 100;
}

.modal .hr {
  margin-top: 30px;
  width: 100%;
  background-color: #283D48;
  height: 10px;
}

.modal .footer-modal {
  border-bottom: 1px solid black;
}

.modal .footer-modal .footer-modal-item li {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.modal .footer-modal .footer-modal-item li i {
  margin-left: 35px;
  margin-right: 15px;
  color: #899CA2;
  font-size: 20px;
}

.modal .footer-modal .footer-modal-item li div .tel-account-modal {
  color: white;
  text-align: start;
}

.modal .footer-modal .footer-modal-item li div p {
  text-align: start;
  color: #899CA2;
  font-weight: 200;
}

.modal .footer-modal .footer-modal-item li .username {
  margin-left: 67px;
}

.modal .sms-yozish {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .sms-yozish i {
  font-size: 20px;
  color: #899CA2;
}

.modal .sms-yozish p {
  color: white;
}

.modal .sms-yozish .toogle-icon {
  color: #58BFE8;
}

.modal p {
  color: #58BFE8;
  text-align: center;
  cursor: pointer;
}

.modal-myaccount {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 300px;
  height: 100vh;
  background-color: #1A2C33;
}

.modal-myaccount .modal-myaccount-top {
  width: 100%;
  height: 170px;
  background-color: #2A9BB7;
  padding: 20px;
}

.modal-myaccount .modal-myaccount-top span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #41A4A6;
  color: white;
  margin-bottom: 10px;
}

.modal-myaccount .modal-myaccount-top div h3 {
  color: white;
  font-weight: 200;
}

.modal-myaccount .modal-myaccount-top div p {
  color: white;
  font-weight: 100;
}

.modal-myaccount .settings-list li {
  width: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.modal-myaccount .settings-list li:hover {
  background-color: #283D48;
}

.modal-myaccount .settings-list li i {
  color: #7F969D;
  font-size: 20px;
}

.modal-myaccount .settings-list li p {
  margin-left: 10px;
  color: #E9E8E8;
}

.modal-myaccount .settings-list li .off {
  margin-left: 10px;
}

.body-myaccount-modal .modal-myaccount {
  display: block;
  -webkit-animation-name: myaccount-modal;
          animation-name: myaccount-modal;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.body-myaccount-modal .modal-opacity-myaccount {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@-webkit-keyframes myaccount-modal {
  from {
    -webkit-transform: translate(-300px);
            transform: translate(-300px);
  }
  to {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes myaccount-modal {
  from {
    -webkit-transform: translate(-300px);
            transform: translate(-300px);
  }
  to {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 33px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
  background: #000000;
}

::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
/*# sourceMappingURL=style.css.map */